html {
	font-size: unset !important;
}

#widget_already_set {
	width: 100%;
	color: #3c763d;
	border-color: #d6e9c6;
	font-weight: bold;
	margin: 20px 0 30px;
}

.content #loader {
	width: 100%;
	overflow: hidden;
	text-align: center;
	background-color: #fff;
	height: 100px;
	padding: 20px 0;
}

#tawkIframe {
	min-height: 355px;
	width: 100%;
	border: medium none;
	padding: 25px 0px;
	background: #fff;
	border-radius: 10px;
	display: none;
}

#optionsSuccessMessage {
	position: absolute;
	background-color: #dff0d8;
	color: #3c763d;
	border-color: #d6e9c6;
	font-weight: bold;
	display: none;
}

.pull-right {
	float: right;
}

.visibility_block {
	background: #fff;
	margin-top: -5px;
	border-radius: 10px;
	margin-bottom: 1rem;
}

@media only screen and (max-width: 1200px) {
	#optionsSuccessMessage {
		position: relative;
		margin-top: 1rem;
	}
}
.storeids:focus {
	box-shadow:
		0 1px 1px rgba(0, 0, 0, 0.075) inset,
		0 0 8px rgba(102, 175, 233, 0.6);
	border-color: #66afe9;
	outline: 0 none;
}

.storeids {
	width: 350px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	font-size: 14px;
	height: 34px;
	line-height: 1.42857;
	padding: 6px 12px;
	margin-bottom: 10px;
	transition:
		border-color 0.15s ease-in-out 0s,
		box-shadow 0.15s ease-in-out 0s;
}

.storeids-label {
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	width: 200px;
}

/* Tooltip */
.tawk-tooltip {
	position: relative;
	display: inline;
	color: #03a84e;
}

.tawk-tooltip .tawk-tooltiptext {
	visibility: hidden;
	background-color: #545454;
	color: #fff;
	text-align: center;
	padding: 0.5rem;
	max-width: 300px;
	border-radius: 0.5rem;
	line-height: 1;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1000;
	top: 12px;
}

.tawk-tooltip .tawk-tooltiptext::before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #545454;
	top: -5px;
	left: 5px;
}

.tawk-tooltip:hover .tawk-tooltiptext {
	visibility: visible;
}

.justify {
	text-align: justify;
}

.attrib_desc {
	color: #aaa;
	font-weight: normal;
	font-size: 13px;
	font-style: italic;
}
