#widget_already_set {
	width: 100%;
	color: #3c763d;
	border-color: #d6e9c6;
	font-weight: bold;
	margin: 20px 0 30px;
}

.content #loader {
	width: 100%;
	overflow: hidden;
	text-align: center;
	background-color: #fff;
	height: 100px;
	padding: 20px 0;
}

#tawkIframe {
	min-height: 355px;
	width: 100%;
	border: medium none;
	padding: 25px 0px;
	background: #fff;
	border-radius: 10px;
	display: none;
}

#optionsSuccessMessage {
	position: absolute;
	background-color: #dff0d8;
	color: #3c763d;
	border-color: #d6e9c6;
	font-weight: bold;
	display: none;
}

.pull-right {
	float: right;
}

.visibility_block {
    background: #fff;
    margin-top: -5px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 1200px) {
    #optionsSuccessMessage {
        position: relative;
        margin-top: 1rem;
    }
}